flow1.json
[{"id":"21bed059.28e0b","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"88a51ca9.3c21e","type":"rpi-gpio in","z":"21bed059.28e0b","name":"button","pin":"7","intype":"tri","debounce":"25","read":true,"x":110,"y":220,"wires":[["f42f2a5b.63e9a8","9eb0a6e6.41b3a8"]]},{"id":"f42f2a5b.63e9a8","type":"switch","z":"21bed059.28e0b","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["706bc3cb.1039dc"],["503402d8.9244fc"]]},{"id":"706bc3cb.1039dc","type":"change","z":"21bed059.28e0b","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["58accd39.b0d714"]]},{"id":"503402d8.9244fc","type":"change","z":"21bed059.28e0b","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["58accd39.b0d714"]]},{"id":"58accd39.b0d714","type":"rpi-gpio out","z":"21bed059.28e0b","name":"led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":730,"y":220,"wires":[]},{"id":"9eb0a6e6.41b3a8","type":"debug","z":"21bed059.28e0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":60,"wires":[]}]